<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar e Bottom Navigation Bar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="../../../PUBLIC/CSS/style.css">
</head>
<body>
    <div class="Sidebar">
        <h2>Sidebar</h2>
        <a href="./feed.html" class="active-link"><i class="fas fa-home"></i><span>Menu</span></a>
        <a href="./pesquisar.html"><i class="fas fa-search"></i><span>Pesquisa</span></a>
        <a href="./perfilArtista.html"><i class="fas fa-user"></i><span>Perfil</span></a>
        <a href="./vendas.html"><i class="fas fa-shopping-cart"></i><span>Vendas</span></a>
        <a href="./chat.html"><i class="fas fa-comment-dots"></i><span>Chat</span></a>
        <a href="./configuracao.html"><i class="fas fa-cogs"></i><span>Configurações</span></a>
        <!-- Mover o botão Logout para o final da Sidebar -->
        <a href="../login.html"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
        <div class="magic-indicator"></div>
    </div>

    
    <header class="sticky-top">
      
        <nav class="navbar navbar-light bg-light">
            <div class="flex-container" id="logoPrincipal"> 
                <div class="row">
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <img src="../../../PUBLIC/IMG/loso-recortada.png" alt="" class="logo1" style="width: 180px; margin-left: 120px;">
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <img src="../../../PUBLIC/IMG/logo-projeto-sem-fundo.png" alt="" class="logo2" style="width: 60px;">
                    </div>
                </div>
            </div>
        </nav>
      
    </header>  




    
    <div class="content">
        
        <section>
            
            <div class="container d-flex justify-content-center align-items-center">
                <div class="row">
                    <div class="col-12 pb-3">
                        <div class="card cardEstilo" >
                           

                            <figure class="figure">
                                <img src="../../../PUBLIC/IMG/Feed Users/mandala-2684935_1280.jpg" class="figure-img img-fluid rounded" alt="...">
                              </figure>


                            <div class="card-body">
                                <h5 class="card-title">Expansion of mind</h5>
                                <p class="card-text">A arte é um processo de cura</p>
                                <a href="#" class="btn btn-primary">Ver Perfil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <div class="card cardEstilo" >
                           

                            <figure class="figure">
                                <img src="../../../PUBLIC/IMG/Feed Users/jack-sparrow-496090_1280.jpg" class="figure-img img-fluid rounded" alt="...">
                              </figure>


                            <div class="card-body">
                                <h5 class="card-title">Expansion of mind</h5>
                                <p class="card-text">A arte é um processo de cura</p>
                                <a href="#" class="btn btn-primary">Ver Perfil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <div class="card cardEstilo" >
                           

                            <figure class="figure">
                                <img src="../../../PUBLIC/IMG/Feed Users/graffiti-1583685_1280.jpg" class="figure-img img-fluid rounded" alt="...">
                              </figure>


                            <div class="card-body">
                                <h5 class="card-title">Expansion of mind</h5>
                                <p class="card-text">A arte é um processo de cura</p>
                                <a href="#" class="btn btn-primary">Ver Perfil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <div class="card cardEstilo" >
                           

                            <figure class="figure">
                                <img src="../../../PUBLIC/IMG/Feed Users/painter-1264804_1280.jpg" class="figure-img img-fluid rounded" alt="...">
                              </figure>


                            <div class="card-body">
                                <h5 class="card-title">Expansion of mind</h5>
                                <p class="card-text">A arte é um processo de cura</p>
                                <a href="#" class="btn btn-primary">Ver Perfil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <div class="card cardEstilo" >
                           

                            <figure class="figure">
                                <img src="../../../PUBLIC/IMG/Feed Users/easter-664804_1280.jpg" class="figure-img img-fluid rounded" alt="...">
                              </figure>


                            <div class="card-body">
                                <h5 class="card-title">Expansion of mind</h5>
                                <p class="card-text">A arte é um processo de cura</p>
                                <a href="#" class="btn btn-primary">Ver Perfil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <div class="card cardEstilo" >
                           

                            <figure class="figure">
                                <img src="../../../PUBLIC/IMG/Feed Users/paintings-7864969_1280.jpg" class="figure-img img-fluid rounded" alt="...">
                              </figure>


                            <div class="card-body">
                                <h5 class="card-title">Expansion of mind</h5>
                                <p class="card-text">A arte é um processo de cura</p>
                                <a href="#" class="btn btn-primary">Ver Perfil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <div class="card cardEstilo" >
                           

                            <figure class="figure">
                                <img src="../../../PUBLIC/IMG/PerfilUsuário/fractal-1232644.jpg" class="figure-img img-fluid rounded" alt="...">
                              </figure>


                            <div class="card-body">
                                <h5 class="card-title">Expansion of mind</h5>
                                <p class="card-text">A arte é um processo de cura</p>
                                <a href="#" class="btn btn-primary">Ver Perfil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <div class="card cardEstilo" >
                           

                            <figure class="figure">
                                <img src="../../../PUBLIC/IMG/PerfilUsuário/fantasy-4350993_1280.jpg" class="figure-img img-fluid rounded" alt="...">
                              </figure>


                            <div class="card-body">
                                <h5 class="card-title">Expansion of mind</h5>
                                <p class="card-text">A arte é um processo de cura</p>
                                <a href="#" class="btn btn-primary">Ver Perfil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <div class="card cardEstilo" >
                           

                            <figure class="figure">
                                <img src="../../../PUBLIC/IMG/PerfilArtista/futuristic-3862179_1920.jpg" class="figure-img img-fluid rounded" alt="...">
                              </figure>


                            <div class="card-body">
                                <h5 class="card-title">Expansion of mind</h5>
                                <p class="card-text">A arte é um processo de cura</p>
                                <a href="#" class="btn btn-primary">Ver Perfil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <div class="card cardEstilo" >
                      
                            <figure class="figure">
                                <img src="../../../PUBLIC/IMG/Feed Users/ceramics-7250708_1280.jpg" class="figure-img img-fluid rounded" alt="...">
                              </figure>

                            
                            <div class="card-body">
                                <h5 class="card-title">Expansion of mind</h5>
                                <p class="card-text">A arte é um processo de cura</p>
                                <a href="#" class="btn btn-primary">Ver Perfil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <div class="card cardEstilo" >
                  
                            <figure class="figure">
                                <img src="../../../PUBLIC/IMG/PerfilArtista/iaia.jpg" class="figure-img img-fluid rounded" alt="...">
                              </figure>



                            <div class="card-body">
                                <h5 class="card-title">Expansion of mind</h5>
                                <p class="card-text">A arte é um processo de cura</p>
                                <a href="#" class="btn btn-primary">Ver Perfil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="bottom-navbar bottom-bar">
        <a href="./feed.html" class="active-link">
            <i class="fas fa-home"></i>
            <span>Menu</span>
        </a>
        <a href="./pesquisar.html">
            <i class="fas fa-search"></i>
            <span>Pesquisa</span>
        </a>
        <a href="./perfilArtista.html">
            <i class="fas fa-user"></i>
            <span>Perfil</span>
        </a>
        <a href="./vendas.html">
            <i class="fas fa-shopping-cart"></i>
            <span>Vendas</span>
        </a>
        <a href="./chat.html">
            <i class="fas fa-comment-dots"></i>
            <span>Chat</span>
        </a>
        <a href="./configuracao.html">
            <i class="fas fa-cogs"></i>
            <span>Configurações</span>
        </a>
        <a href="../login.html">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // JavaScript para alternar a classe "expanded" na barra lateral
        const sidebar = document.querySelector('.Sidebar');

        sidebar.addEventListener('mouseenter', () => {
            sidebar.classList.add('expanded');
        });

        sidebar.addEventListener('mouseleave', () => {
            sidebar.classList.remove('expanded');
        });

        // JavaScript para o indicador mágico
        const links = document.querySelectorAll('.Sidebar a');
        const indicator = document.querySelector('.magic-indicator');

        links.forEach((link) => {
            link.addEventListener('click', (e) => {
                links.forEach((otherLink) => {
                    otherLink.classList.remove('active-link');
                });
                link.classList.add('active-link');
                const topPosition = link.offsetTop;
                indicator.style.transform = `translateY(${topPosition}px)`;
            });
        });
    </script>
</body>
</html>
